{% extends "base.html" %}
{% block title %}
	Личный кабинет
{% endblock title %}

{% block content %}
<section class="lk__menu">
	<div class="container-fluid">
		<div class="row lk__menu-row">
			<div class="lk__menu-content">
				<a href="{% url 'lk:settings' %}" class="lk__menu-item " id="lk_settings">Настройки профиля</a>
				<a href="{% url 'lk:favorite_articles' %}" class="lk__menu-item" id="lk_favorite">Избранное</a>
				<a href="" class="lk__menu-item" id="lk_segments">Сохранённые сегменты</a>
				<a href="" class="lk__menu-item" id="lk_subscribes">Подписки</a>
				<a href="" class="lk__menu-item" id="lk_deferred_purchases">Отложенные покупки</a>
				<a href="" class="lk__menu-item" id="lk_purchases_story">История покупок</a>
			</div>
		</div>
	</div>
</section>
{% block inner_content %}
	
{% endblock inner_content %}
{% endblock content %}