{% extends "base.html" %}

{% block title %}
	
{% endblock title %}

{% block content %}
{% load mptt_tags %}
<section class="article__other mb-5">
	<div class="container-fluid">
		<div class="row">
			<div class="section__title mb-4">
				<h2>Справочник</h2>
				<div class="section__title-line"></div>
			</div>

			<div class="col-12 px-0">
				<div class="accordion">
                {% for genre,structure in handbook_list|tree_info %}
                {% if structure.new_level %}
                    <div class="accordion__item accordion__item_level-{{ genre.level|add:1 }}">
                    {% if genre.is_link == True %}
						<a href="#" class="font-weight-bold d-block mb-2">{{ genre.name }}</a>
						<div class="accordion__title-index">{{ genre.group }}</div>

						{% else %}
						<div class="accordion__title">
							<span class="accordion__title-inner">{{ genre.name }}</span>
							<div class="accordion__title-index">{{ genre.group }}</div>
						</div>

                    {% endif %}
                {% else %}
                    {% if genre.is_link == True %}
						<a href="#" class="font-weight-bold d-block mb-2">{{ genre.name }}</a>
						<div class="accordion__title-index">{{ genre.group }}</div>

						{% else %}
						<div class="accordion__title">
							<span class="accordion__title-inner">{{ genre.name }}</span>
							<div class="accordion__title-index">{{ genre.group }}</div>
						</div>
                    {% endif %}
                {% endif %}
                {% for level in structure.closed_levels %}</div>{% endfor %}
                {% endfor %}



                    {% comment %}
					{% recursetree handbook_list %}
					<div class="accordion__item accordion__item_level-{{ node.level|add:1 }}">
						{% if node.is_link == True %}
						<a href="#" class="font-weight-bold d-block mb-2">{{ node.name }}</a>
						<div class="accordion__title-index">{{ node.group }}</div>

						{% else %}
						<div class="accordion__title">
							<span class="accordion__title-inner">{{ node.name }}</span>
							<div class="accordion__title-index">{{ node.group }}</div>
						</div>

						{% endif %}
						{% if not node.is_leaf_node %}
						{{ children }}
						{% endif %}
					</div>	<!-- /.accordion__item -->
					{% endrecursetree %}<!-- /.accordion__item -->
					{% endcomment %}
				</div>	<!-- /.accordion -->
			</div>
		</div>		
	</div>
</section>
{% endblock content %}