{% extends "base.html" %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}

<div class="modal modal-custom fade" id="modal-thanx" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Сообщение!</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <p>{{ message|safe }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endif %}
<section class="article___author">
	<div class="container-fluid">
		<div class="row">
			<div class="article___author-content">
				<div class="article___author-left">
					{% if author.image %}
						<img class="article___author-avatar" src="{{ author.image.url }}" alt="">
					{% else %}
						<div class="article___author-avatar"></div>	
					{% endif %}

					<div class="article___author-bio">
						<h2>{{ author.name }}</h2>
						<p>{{ author.position }}</p>
					</div>
				</div>
				<div class="article___author-right">
					<div class="article__author-item">
						{% if article.time_for_read %}
                            <img src="{% static 'img/articleoclock.svg' %}" alt="">
							<p>{{ article.time_for_read }} минут на чтение</p>
						{% endif %}
					</div>
                    <a href="{% url 'article:detail' article.slug %}?add_to_favorite={{ article.slug }}" class="article__author-item article__author-item_icon article__author-item_icon-star">
                        <p>Добавить в закладки</p>
                    </a>
                    <a href="{% url 'article:detail' article.slug %}?sent_article={{ article.slug }}" class="article__author-item">
                        <img src="{% static 'img/articlemail.svg' %} " alt="">
                        <p>Отправить статью на почту</p>
                    </a>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="article__content" itemscope itemtype="https://schema.org/NewsArticle" >
	<div class="container-fluid">
		<div class="row">
			<div class="section__title">
				<h2 itemprop="headline">{{ article.title }}</h2>
				<div class="section__title-line"></div>
			</div>
		</div>
		<div class="article__content-row">
			<div itemprop="associatedMedia" class="article__content-img">
				{% if article.image %}
					<img class="article__content-img" src="{{ article.image.url }}" alt="">
				{% endif %}
			</div>
            <p itemprop="articleBody">
				{{ article.description|safe }}
            </p>
            <div class="article__content-text">
            </div>
		</div>
	</div>
</section>


<section class="article__other">
	<div class="container-fluid">
		<div class="row">
			<div class="section__title">
				<h2>Интересные статьи по этой теме</h2>
				<div class="section__title-line"></div>
			</div>
		</div>
	</div>
</section>

<section class="articles">
	<div class="container-fluid">
		<div class="row articles__items">
			{% for article in articles %}
				
			<div class="articles__item">
				<div class="articles__item-left">
					{% if article.image %}
						<img class="articles__item-left" src="{{ article.image.url }}" alt="">
					{% endif %}
				</div>
				<div class="articles__item-right">
					<div class="articles__item-title">
						<h2>{{ article.title }}</h2>
                        <a href="{% url 'article:detail' article.slug %}?add_to_favorite={{ article.slug }}" class="articles__item-icon articles__item-icon-star">Добавить в закладки</a>
					</div>
					<div class="articles__item-text">
						<p>{{ article.short_description|safe }}</p>
					</div>
					<div class="articles__item-btn">
						<a href="{% url 'article:detail' article.slug %}">Читать полностью</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock content %}