{% extends 'index/index_base.html' %}

{% block inner_content %}
<section class="inn__why">
    <div class="container">
        <div class="row">
            <div class="section__title">
                <h2>Выбор ниши / вывод продукта на рынок</h2>
                <div class="section__title-line"></div>
            </div>
        </div>
        <div class="row inn__why-items">
            <div class="inn__why-item">
                <p class="inn__why-number inn__why-number_icon inn__why-number_icon-idea"></p>
                <div class="inn__why-line"></div>
                <p class="inn__why-text">Анализ рынка</p>
            </div>
            <div class="inn__why-item">
                <p class="inn__why-number inn__why-number_icon inn__why-number_icon-research"></p>
                <div class="inn__why-line"></div>
                <p class="inn__why-text">Изучение цен</p>
            </div>
            <div class="inn__why-item">
                <p class="inn__why-number inn__why-number_icon inn__why-number_icon-award"></p>
                <div class="inn__why-line"></div>
                <p class="inn__why-text">Тренды</p>
            </div>
        </div>
    </div>
</section>

<section class="inn__point">
    <div class="container">
        <div class="row">
            <h3>Три этапа, которые снизят риски на старте и не дадут бюджету вылетить в трубу</h3>
        </div>
    </div>
</section>

<section class="inn__analise inn__analise-desktop">
    <div class="container">
        <div class="row inn__analise-text">
			<div class="col-md-4">
				<p>Анализ рынка</p>
			</div>
			<div class="col-md-4">
				<p>Изучение цен</p>
			</div>
			<div class="col-md-4">
				<p>Тренды</p>
			</div>
        </div>	<!-- /.inn__analise-text -->
    </div>
</section>

<section class="inn__analise-uls inn__analise-desktop">
    <div class="container">
        <div class="row inn__analise-items">
            <div class="col-md-4 inn__analise-item">
                <ul class="pl-0">
                    <li class="inn__analise-icon inn__analise-icon_icon-source"><span>Емкость рынка</span></li>
                    <li class="inn__analise-icon inn__analise-icon_icon-list"><span>Конъюктура рынка</span></li>
                    <li class="inn__analise-icon inn__analise-icon_icon-poll"><span>Статистика</span></li>
                </ul>
            </div>	<!-- /.inn__analise-item -->

            <div class="col-md-4 inn__analise-item">
                <ul class="pl-0">
                    <li class="inn__analise-icon inn__analise-icon_icon-calculation"><span>Динамика цен</span></li>
                    <li class="inn__analise-icon inn__analise-icon_icon-variations"><span>Цены в регионах</span></li>
                    <li class="inn__analise-icon inn__analise-icon_icon-relations"><span>Индекс цен</span></li>
                </ul>
            </div>	<!-- /.inn__analise-item -->

            <div class="col-md-4 inn__analise-item">
                <ul class="pl-0">
                    <li class="inn__analise-icon inn__analise-icon_icon-graph"><span>Прогнозирование сценария</span></li>
                </ul>
            </div>	<!-- /.inn__analise-item -->
        </div>
    </div>
</section>

<section class="inn__analise-mobile">
    <div class="container">
        <div class="row inn__analise-items">
            <div class="inn__analise-item inn__analise-text">
                <p>Анализ рынка</p>
                <ul class="pl-0">
                    <li class="inn__analise-icon inn__analise-icon_icon-source"><span>Емкость рынка</span></li>
                    <li class="inn__analise-icon inn__analise-icon_icon-list"><span>Конъюктура рынка</span></li>
                    <li class="inn__analise-icon inn__analise-icon_icon-poll"><span>Статистика</span></li>
                </ul>
            </div>

            <div class="inn__analise-item inn__analise-text">
                <p>Изучение цен</p>
                <ul class="pl-0">
                    <li class="inn__analise-icon inn__analise-icon_icon-calculation"><span>Динамика цен</span></li>
                    <li class="inn__analise-icon inn__analise-icon_icon-variations"><span>Цены в регионах</span></li>
                    <li class="inn__analise-icon inn__analise-icon_icon-relations"><span>Индекс цен</span></li>
                </ul>
            </div>

            <div class="inn__analise-item inn__analise-text">
                <p>Тренды</p>
                <ul class="pl-0">
                    <li class="inn__analise-icon inn__analise-icon_icon-graph"><span>Прогнозирование сценария</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="inn__analise inn__analise-desktop">
    <div class="container">
        <div class="row inn__analise-text">
			<p>Зачем?</p>
        </div>	<!-- /.inn__analise-text -->
    </div>
</section>

<section class="inn__point inn__point2">
    <div class="container">
		<table class="table table-striped table-bordered">
			<tbody>
				<tr>
					<td>1. Проверка гипотезы</td>
				</tr>
				<tr>
					<td>2. Снижение рисков на старте</td>
				</tr>
				<tr>
					<td>3. Оптимизация стратегии</td>
				</tr>
			</tbody>
		</table>	<!-- /.table -->
    </div>
</section>

{#<section class="inn__analise inn__analise-desktop">#}
{#    <div class="container">#}
{#        <div class="row inn__analise-text">#}
{#			<p>Сколько стоит</p>#}
{#        </div>	<!-- /.inn__analise-text -->#}
{#    </div>#}
{#</section>#}

{#<section class="inn__why">#}
{#    <div class="container">#}
{#        <div class="row inn__why-items">#}
{#            <div class="inn__why-item">#}
{#                <p class="inn__why-number">1-н</p>#}
{#                <div class="inn__why-line"></div>#}
{#                <p class="inn__why-text">ОКВЭД2</p>#}
{#            </div>#}
{##}
{#            <div class="inn__why-item">#}
{#                <p class="inn__why-number">+</p>#}
{#            </div>#}
{##}
{#            <div class="inn__why-item">#}
{#                <p class="inn__why-number">1-н</p>#}
{#                <div class="inn__why-line"></div>#}
{#                <p class="inn__why-text">ТНВЭД</p>#}
{#            </div>#}
{##}
{#            <div class="inn__why-item">#}
{#                <p class="inn__why-number">=</p>#}
{#            </div>#}
{##}
{#            <div class="inn__why-item">#}
{#                <p class="inn__why-number inn__why-number_icon inn__why-number_icon-data"></p>#}
{#                <div class="inn__why-line"></div>#}
{#                <p class="inn__why-text icon-ruble">50 000</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{% endblock %}