{% load set %}
{% load static %}
{% load flatblocks %}

<!doctype html>
<html lang="ru">
<head>

{#    {% get_seo_data seo %}#}
    {% get_seo_data request.seo %}

    <title>

        {% block title %}Imextat{% endblock title %}
    </title>	
    <meta charset="utf-8" />   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="yandex-verification" content="2284f5e2a25a77cd" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(57106246, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        trackHash:true,
        ecommerce:"imexstatLayer"
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/57106246" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <section class="header__top">
        <div class="container-fluid">
            <div class="row header__top-row">
                <div class="header__top-left">
                    <a href="tel:{% flatblock 'header_phone_link' %}" class="header__top-links">{% flatblock 'header_phone' %}</a>
                    <a href="tel:{% flatblock 'header_phone2_link' %}" class="header__top-links">{% flatblock 'header_phone2' %}</a>
                    <a href="mailto:{% flatblock 'header_mail' %}" class="header__top-links">{% flatblock 'header_mail' %}</a>
                </div>
                <div class="header__top-right">
                    <a href="{% url 'article:list' %}" class="header__top-links">Статьи</a>
{#                    <a href="{% url 'handbook:handbook' %}" class="header__top-links">Справочник</a>#}
                    <a href="{% url 'orders:cart' %}" class="header__top-links">Корзина</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'lk:settings' %}" class="header__top-login">Личный кабинет</a>
                    <p><a href="{% url 'logout' %}"><img src="{% static 'img/sign-out-alt-solid.svg' %}" width="50" height="50" border="0" alt="Пример"></a></p>
                    {% else %}
                    <a href="{% url 'django_registration_register' %}" class="header__top-login">Зарегистрироваться</a>
                    <p><a href="{% url 'login' %}"><img src="{% static 'img/sign-in-alt-solid.svg' %}" width="50" height="50" border="0" alt="Пример"></a></p>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </section>
    
    
    <header>
        <div class="container-fluid">
            <div class="row header__row">
                <a href="{% url 'index:index' %}" class="header__logo">
                    <div class="logo">
                        <img class="logo" src="{% static 'img/Imex_logo.jpeg' %}" >
                    </div>

                </a>
                <div class="header__menu header__menu-desktop" id="header__menu">
                    <nav class="navbar navbar-expand-lg navbar-light" id="menu">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                {% for menu in menu %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'index:index' %}{{menu.url}}">{{ menu.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="header__menu header__menu-desktop header__menu-mobile" id="header__menu">
                    <nav class="navbar navbar-expand-lg navbar-light" id="menu">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                {% for menu in menu %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'index:index' %}{{menu.url}}">{{ menu.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    {% block content %}

    {% endblock content %}
    <footer class="{% block footer_class %}footer__bg-none{% endblock %}">
        <div class="container">
          {% block footer_form %}

          {% endblock %}
          <div class="row footer__menu footer__logo">
            <a href="" class="header__logo">
                <div class="logo">
                    <img class="logo" src="{% static 'img/Imex_logo_footer.jpg' %}" >
                </div>
            </a>
          </div>
        </div>
        <div class="container">

            <div class="row header__row footer__menu">

                <div class="header__menu header__menu-desktop" id="header__menu">
                    <nav class="navbar navbar-expand-lg navbar-light" id="menu">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                  {% for menu in menu %}
                                      <li class="nav-item">
                                          <a class="nav-link" href="{% url 'index:index' %}{{menu.url}}">{{ menu.title }}</a>
                                      </li>
                                  {% endfor %}
                                {% if user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin">Панель администратора</a>
                                </li>                                
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row footer__content">
                <div class="footer__item">
                    <p>{% flatblock 'INN_text' %}</p>
                    <p>{% flatblock 'ogrn_text' %}</p>
                </div>
                <div class="footer__item">
                    <table>
                        <tr>
                            <td><p>Телефон: </p></td>
                            <td><a href="tel:{% flatblock 'footer_phone_num_link' %}">{% flatblock 'footer_phone_num' %}</a></td>
                        </tr>
                        <tr>
                            <td><p>Факс: </p></td>
                            <td><a href="tel:{% flatblock 'footer_fax_link' %}">+7 (913) 903 56 16</a></td>
                        </tr>
                        <tr>
                            <td><p>E-mail:</p></td>
                            <td><a href="mailto:{% flatblock 'footer_mail' %}">{% flatblock 'footer_mail' %}</a></td>
                        </tr>
                    </table>
                </div>
                <div class="footer__item">
                    <p>Наши социальные сети</p>
                    <div class="footer__item-social">
                        <a href="" class="social__item">
                            <img src="{% static 'img/facebook.svg' %}" alt="">
                        </a>
                        <a href="" class="social__item">
                            <img src="{% static 'img/vk.svg' %}" alt="">
                        </a>
                        <a href="" class="social__item">
                            <img src="{% static 'img/telegram.svg' %}" alt="">
                        </a>
                        <a href="" class="social__item">
                            <img src="{% static 'img/twitter.svg' %}" alt="">
                        </a>
                        <a href="" class="social__item">
                            <img src="{% static 'img/inst.svg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="up">
            <img src="{% static 'img/up.svg' %}" alt="">
        </a>
    </footer>
    
    
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    </body>
    </html>
</body>
</html>
