

{% extends "base.html" %}

{% block content %}

<section class="cartBuy__bio mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="section__title mb-4">
                <h2>Регистрация</h2>
                <div class="section__title-line"></div>
            </div>
        </div>  
{{ form.errors }}
    <form action="" method="post">
      {% csrf_token %}
      <div class="row cartBuy__bio-forms mt-0 mb-5">
        <div class="cartBuy__bio-formItem cartBuy__bio-formItem_required">
          <p>Ваше имя</p>
          {{ form.username }}
        </div>
      </div>

      <div class="row cartBuy__bio-forms mt-0 mb-5">
        <div class="cartBuy__bio-formItem cartBuy__bio-formItem_required">
          <p>E-mail</p>
          {{ form.email }}
        </div>
      </div>

      <div class="row cartBuy__bio-forms mt-0 mb-5">
        <div class="cartBuy__bio-formItem cartBuy__bio-formItem_required">
          <p>Пароль</p>
          {{ form.password1 }}
        </div>
      </div>

      <div class="row cartBuy__bio-forms mt-0 mb-5">
        <div class="cartBuy__bio-formItem cartBuy__bio-formItem_required">
          <p>Повторите пароль</p>
          {{ form.password2 }}
        </div>
      </div>

      <div class="row cartBuy__bio-forms mt-0 mb-5">
        <input class="btn cartBuy__pay-button" type="submit" value="Зарегистрироваться" />
      </div>
    </form>
  </div>
</section>

{% endblock %}